#1. Игнорировать всё в LAB03
LAB03/**

#2. Разрешить саму папку
!LAB03/

#3. Разрегить структуру папок (до 3 уровней вложенности)
!LAB03/*/
!LAB03/*/*/
!LAB03/*/*/*/

#4. Разрешить все .cs файлы
!LAB03/**/*.cs
